

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   .navbar-brand
   {
       position: absolute;
       width: 100%;
       left: 0;
       text-align: center;
       mar
   }
